.galerija-main{
    #sekcija1g{
        margin: 30px auto 50px auto;    
    }

    .container{
        hr{
            color: rgb(80,80,80);
        }
    }

    #sekcija2g{
        margin: 50px auto 50px auto;
        text-align: center;
        
        .sekcija2g-naslov{
            font-size: 24px;
            color: rgb(80,80,80);
            font-weight: 800;
            margin-bottom: 40px;
        }

        .sekcija2g-wrapper{
            background: rgb(230,230,230);
            border-radius: 10px;
            padding: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 320px);
            justify-content: space-between;
            row-gap: 50px;
            column-gap: 10px;

            .galerija-slika{
                width: 100%;
                height: 240px;
                border-radius: 5px;
            }

           
        }
    }
}

@media only screen and (max-width: 1200px) {

    .sekcija2g-wrapper{
        grid-template-columns: repeat(auto-fill, 280px) !important;
        row-gap: 17px !important;

        .galerija-slika{
            height: 210px !important;
        }
    }
}

@media only screen and (max-width: 992px) {
    .sekcija2g-wrapper{
        grid-template-columns: repeat(auto-fill, 300px) !important;
        row-gap: 30px !important;

        .galerija-slika{
            height: 225px !important;
        }
    }
}

@media only screen and (max-width: 768px){
    .sekcija2g-wrapper{
        justify-content: center !important;
        grid-template-columns: repeat(auto-fill, 320px) !important;
        row-gap: 20px;

        .galerija-slika{
            height: 240px !important;
        }
    }
}