.navbar-padding{
    background-color: $crvena;
    min-height: 150px;
    position: relative;
}

.navbar-wrapper{
    background-color: rgb(30,30,30);
    z-index: 11;
    width: 100%;
    position: absolute;
    top: 40px;
    
    nav{
        a{
            color: white !important;

            &:hover{
                text-decoration: none;
                cursor: pointer;
            }
        }

        .navbar-text{
            text-transform: uppercase;
            font-weight: 300;
            font-size: 25px;
            
            span{
                font-weight: 700;
                white-space: nowrap;
            }
        }

        .navbar-collapse{
            position: relative;
            overflow: hidden !important;
        }

        .nav-link{
            font-size: 16px;
        }

    }   
}

@media only screen and (max-width: 768px){

    .navbar-text{
        text-align: center;
    }

    .navbar{
        justify-content: center
    }

    .navbar-nav{
        margin-top: 15px;
        text-align: center;
    }

    

}


